# Python virtual environments
.venv/
venv/
env/

# Jupyter temporary files
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# macOS files
.DS_Store

# IDE settings
.vscode/
.idea/

# Temporary files
*.tmp
*.log

.DS_Store